mixin checkboxElement(name, text_label, isCheck)
  .checkbox__wrap
    if isCheck
      input(class="checkbox", type="checkbox" name=name, checked)
    else
      input(class="checkbox", type="checkbox" name=name)
    label(class="checkbox__label", for=name) #{text_label}
