mixin typeCardElement(parent_class, key, name, text)
  div(class="type-card "+parent_class)
    div(class="type-card__name type-card__name_"+key) #{name}
    div(class="type-card__example type-card__example_"+key) #{text}
