mixin checkboxListElement(title, checkboxList)
  .checkbox-list
    if title
      include ../title-input/title-input.pug
      +titleInput(title)
    each item in checkboxList
      include ../checkbox/checkbox.pug
      +checkboxElement(item.name, item.text, item.checked)
