mixin checkboxListElement(title, checkboxList)
  if title
    include ../title-input/title-input.pug
    +titleInput(title)
  .checkbox-list
    each item in checkboxList
      include ../checkbox/checkbox.pug
      +checkboxElement(item.name, item.text, item.checked, item.toggle)
