extends templates/page.pug
append config
  - var pageTitle = 'Цвета и шрифты'
  - var desc = 'Палитра цветов и примеры шрифтов, используемые на сайте'
  - var key = 'цвета и шрифты, цвета, шрифты, палитра, colors, type'
  - var addJS = false
append links
  link(rel="preload" href="fonts/myfont.woff" as="font" crossorigin="anonymous")

append header
  include ../components/logo-head/logo-head.pug

append main
  .container-fluid
    .main__pelette.pelette
      include ../components/color-card/color-card.pug
      include ../components/color-card/color-card.pug
      include ../components/color-card/color-card.pug
      include ../components/color-card/color-card.pug
      include ../components/color-card/color-card.pug
      include ../components/color-card/color-card.pug
      include ../components/color-card/color-card.pug
    .main__types.types
      include ../components/type-card/type-card.pug
      include ../components/type-card/type-card.pug
      include ../components/type-card/type-card.pug
      include ../components/type-card/type-card.pug
