extends templates/page.pug
append config
  - var pageTitle = 'Цвета и шрифты'
  - var desc = 'Палитра цветов и примеры шрифтов, используемые на сайте'
  - var key = 'цвета и шрифты, цвета, шрифты, палитра, colors, type'
  - var addJS = false
append links
  link(rel="preload" href="fonts/myfont.woff" as="font" crossorigin="anonymous")

append header
  include ../components/logo-head/logo-head.pug

append main
  .container-fluid
    .main__pelette.pelette
      -
        let items = [
          {name: 'Dark Shade 100%', code: '#1F2041'},
          {name: 'Dark Shade 75%', code: '#1F2041'},
          {name: 'Dark Shade 50%', code: '#1F2041'},
          {name: 'Dark Shade 25%', code: '#1F2041'},
          {name: 'Dark Shade 5%', code: '#1F2041'},
          {name: 'Purple', code: '#BC9CFF'},
          {name: 'Green', code: '#6FCF97'}
        ];
      each item in items
        include ../components/color-card/color-card.pug
    .main__types.types
      -
        items = [
          {name: 'H1', text: 'This one is the sub-section or widget title'},
          {name: 'H2', text: 'Next one is the item title inside widgets'},
          {name: 'H3', text: 'This is a label or CTA text'},
          {name: 'Body', text: 'This is the body text which is used for most of the design, like paragraphs, lists, etc.'}
        ];
      each item in items
        include ../components/type-card/type-card.pug
