extends templates/page.pug
append config
  - var pageTitle = "Цвета и шрифты"
  - var desc = "Палитра цветов и примеры шрифтов, используемые на сайте"
  - var key = "цвета и шрифты, цвета, шрифты, палитра, colors, type"
  - var addJS = false
append links
  link(rel="preload" href="fonts/myfont.woff" as="font" crossorigin="anonymous")

append header
  include ../components/logo-head/logo-head.pug

append main
  .container-fluid.color-type
    .color-type__palette.palette
      -
        let items = [
          {name: "Dark Shade 100%", code: "#1F2041", key: "shade100"},
          {name: "Dark Shade 75%", code: "#1F2041", key: "shade75"},
          {name: "Dark Shade 50%", code: "#1F2041", key: "shade50"},
          {name: "Dark Shade 25%", code: "#1F2041", key: "shade25"},
          {name: "Dark Shade 5%", code: "#1F2041", key: "shade5"},
          {name: "Purple", code: "#BC9CFF", key: "purple"},
          {name: "Green", code: "#6FCF97", key: "green"}
        ];
        let parent_class = "palette__item";
      each item in items
        include ../components/uikit/color-card/color-card.pug
    .color-type__types.types
      -
        items = [
          {name: "H1", key: "h1", text: "This one is the sub-section or widget title"},
          {name: "H2", key: "h2", text: "Next one is the item title inside widgets"},
          {name: "H3", key: "h3", text: "This is a label or CTA text"},
          {name: "Body", key: "body", text: "This is the body text which is used for most of the design, like paragraphs, lists, etc."}
        ];
        parent_class = "types__item";
      each item in items
        include ../components/uikit/type-card/type-card.pug
