extends templates/page.pug
append config
  - var pageTitle = "Элементы формы"
  - var addJS = false

append header
  include ../elements/logo/logo.pug

append main
  .container-fluid.grid-container_l
    .grid-element_l.grid-container_m
      .grid-element_m

        include ../elements/input/input.pug
        +inputElement("text-field-default", "", "text", "Text Field", "Email", "Default")

        include ../elements/input/input.pug
        +inputElement("text-field-hover", "hover", "text", "Text Field", "This is pretty awesome", "Hover / Focus")
