extends templates/page.pug
append config
  - var pageTitle = "Элементы формы"
  - var addJS = false

append header
  include ../elements/logo/logo.pug

append main
  .container-fluid.grid-container_l
    .grid-element_l.grid-container_m

      .grid-element_m
        include ../elements/input/input.pug
        +inputElement("text-field-default", "", "text", "Text Field", "Email", "Default", "", "", "", "")
      .grid-element_m
        include ../elements/input/input.pug
        +inputElement("text-field-hover", "hover", "text", "Text Field", "This is pretty awesome", "Hover / Focus", "", "", "This is pretty awesome", "")
      .grid-element_m
        include ../elements/input/input.pug
        +inputElement("text-dropdown", "", "text", "Dropdown", "Сколько гостей", "Default", "v", "btn__oninput btn__oninput_shade50", "Сколько гостей", "")
      .grid-element_m
        include ../elements/input/input.pug
        +inputElement("text-masked-field", "", "text", "Masked text field", "ДД.ММ.ГГГГ", "Default", "", "", "", "")
      .grid-element_m
        include ../elements/input/input.pug
        +inputElement("date-dropdown", "date", "text", "Date dropdown", "ДД.ММ.ГГГГ", "", "v", "btn__oninput btn__oninput_shade50", "", "")
      .grid-element_m
        include ../elements/input/input.pug
        +inputElement("date-dropdown-value", "date", "text", "Date dropdown", "ДД.ММ.ГГГГ", "", "v", "btn__oninput btn__oninput_shade50", "19.08.2019", "")
      .grid-element_m
        include ../elements/input/input.pug
        +inputElement("date-dropdown-filter", "short", "text", "Filter date dropdown", "ДД.ММ.ГГГГ", "", "v", "btn__oninput btn__oninput_shade50", "19 авг - 23 авг", "")
      .grid-element_m
        include ../elements/input/input.pug
        +inputElement("text-field-suscription", "short", "text", "Subscription text field", "Email", "", ">", "btn__oninput btn__oninput_gradient", "", "")

    .grid-element_l.grid-container_m

      .grid-element_m
        -
          let checkboxList = [
            {name: "checkbox-can-smoke", text: "Можно курить", checked: false},
            {name: "checkbox-can-pet", text: "Можно с питомцами", checked: true},
            {name: "checkbox-can-piple", text: "Можно пригласить гостей (до 10 человек)", checked: true}
          ];
        include ../elements/checkbox-list/checkbox-list.pug
        +checkboxListElement("checkbox buttons", checkboxList)

        include ../elements/title-input/title-input.pug
        +titleInput("radio buttons")

        include ../elements/title-input/title-input.pug
        +titleInput("toggle")

        include ../elements/title-input/title-input.pug
        +titleInput("like button")

        include ../elements/title-input/title-input.pug
        +titleInput("rate button")

