.color-type {
  @media (max-width: $s-max) {
    @include flex-col;
  }

  @media (min-width: $m-min) {
    @include flex-row-sp;
  }
}

.color-type__palette {
  @media (max-width: $s-max) {
    width: 100%;
    margin: 40px 0;
  }

  @media (min-width: $m-min) {
    flex-basis: 270px;
    margin-top: 64px;
  }
}

.color-type__types {
  @media (max-width: $s-max) {
    width: 100%;
  }

  @media (min-width: $m-min) {
    margin-top: 65px;
    margin-left: 60px;
    flex-basis: 411px;
  }
}
