block params
  - var name = 'lorem ipsum'
  - var code = 'lorem ipsum'

.pelette__item.color-card
  .color-card__example
  .color-card__about
    .color-card__name #{name}
    .color-card__code #{code}
