.input__wrap {
  position: relative;
  max-width: 320px;

  &_date {
    max-width: 150px;
  }

  &_short {
    max-width: 267px;
  }
}

.input,
.input::placeholder {
  padding: 12px 15px;
  @include font_mons(1rem, 1.29);
}

.input::placeholder {
  padding-left: 0;
  color: $color-shade25;
}

.input {
  width: 100%;
  color: $color-shade75;
  border: 1px solid $color-shade25;
  border-radius: 4px;

  &:hover,
  &:focus,
  &:active,
  &_hover {
    border-color: $color-shade50;
  }
}

.input__caption-wrap {
  @include flex-row-sp;
  margin-bottom: 5px;
}

.input__label {
  @include font_mons(0.86rem, 1.25, bold, uppercase);
}

.input__signature {
  @include font_mons(0.86rem, 1.25, normal, uppercase);
  color: $color-shade50;
}
