mixin colorCardElement(parent_class, key, name, code)
  div(class="color-card "+parent_class)
    div(class="color-card__example color-card__example_"+key)
    .color-card__about
      .color-card__name #{name}
      .color-card__code #{code}
